
 <div class="col-md-6">
    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title"> Ajouter un post  </h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form>
        <div class="card-body">
          <div class="form-group">
            <label for="exampleInputnom"> Title </label>
            <input name="title" type="text"  
            class="form-control" 
            id="exampleInputnom"
             placeholder="Enter nom"
              [(ngModel)]="postform.title">
          </div>
          <div class="form-group">
            <label for="exampleInputcontenu"> Contenu </label>
            <input name="contenu" type="text"  
            class="form-control"
            id="exampleInputcontenu" 
            placeholder="contenu" [(ngModel)]="postform.contenu">
          </div> 

          <div class="form-group">
            <label for="exampleInputimage"> image</label>
            <input name="image"  (change)="handleFileInput($event.target.files)" type="file" 
             class="form-control" 
            id="exampleInputimage" 
            placeholder="image" 
            [(ngModel)]="postform.image">
          </div> 

          <div class="form-group">
            <label for="exampleInputPassword1"> date</label>
            <input name="date" type="text"  
            class="form-control" id="exampleInputtype" 
             placeholder="Type" [(ngModel)]="postform.date">
          </div>
      
         </div>
        <!-- /.card-body -->

        <div class="card-footer">
          <button  type="submit" (click)="addPost()"
           class="btn btn-primary"> Ajouter </button>
        </div>
      </form>
    </div>
    <!-- /.card -->


<table class="table table-bordered">    
  <div class="panel panel-default">
  <div class="panel-heading">
    La liste des posts disponibles sur notre vitrine .
  </div>
    <thead>
    <tr>
      <td>Title</td>
      <td>contenu</td>
      <td>Image</td>
      <td>Date</td>
      <td colspan="3" class="text-center" >Action</td>
    </tr>
    </thead>
    <tbody>
     <tr  *ngFor="let post of posts">
      <td>{{post.title}}</td>
      <td>{{post.contenu}}</td>
      <td><img src="http://localhost:3000/api/posts/getImage/{{post.image}}" height="150" width="150" /></td>
      <td>{{post.date}}</td>
      <td>  
        <a class="btn btn-info">Detail</a> 
      </td>  
      <td> <a class="btn btn-success" >Edit</a> </td>
       <td><a (click)="deletePost(post._id)" class="btn btn-danger">Delete</a>
       </td>
     </tr>
    </tbody>
    </div> 
  </table>
