<div class="col-md-6">
    <!-- general form elements -->
    <div class="card card-primary">
      <div class="card-header">
        <h3 class="card-title"> Ajouter utilisateur  </h3>
      </div>
      <!-- /.card-header -->
      <!-- form start -->
      <form role="form" #userform="ngForm" (ngSubmit)="add(userform.value)">
        <div class="card-body">
          <div class="form-group">
            <label for="exampleInputEmail1"> Email address</label>
            <input name="email" type="text"  
            class="form-control" id="exampleInputEmail1" placeholder="Enter email" ngModel>
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1"> Password</label>
            <input name="password" type="password"  class="form-control" id="exampleInputPassword1" placeholder="Password" ngModel>
          </div>
       
         <div class="form-group">
           <label for=""></label>
           <select name="role" class="form-control" ngModel  >
            <option> Choisissez Role </option> 
            <option value="admin">Admin</option>
             <option value="user">user</option>
             <option></option>
           </select>
         </div>
         </div>
        <!-- /.card-body -->

        <div class="card-footer">
          <button  type="submit" class="btn btn-primary"> Ajouter </button>
        </div>
      </form>
    </div>
    <!-- /.card -->

   

       

    <div class="col-md-12">
       
          <!-- /.card-header -->
          <div class="card-body">
            <table class="table table-bordered">
              <thead>                  
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Email</th>
                  <th>Password</th>
                  <th style="width: 40px">Role</th>
                  <th colspan="3" class="text-center"> Actions </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of users">
                  <td>#</td>
                  <td>{{item.email}}</td>
                  <td>{{item.password}} </td> 
                  <td>{{item.role}} </td> 
                  <td> <button class="btn btn-success" (click)="view(details,item)"><i class="fa fa-file">View</i></button> </td>
                  <td> <button class="btn btn-warning" (click)="edit(editmodal,item)" ><i class="fa fa-edit">Edit</i></button> </td>
                  <td> <button class="btn btn-danger"  (click)="delete(d,item)" ><i class="fa fa-trash">Delete</i></button> </td>
                   </tr>
                
                 
               
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            <ul class="pagination pagination-sm m-0 float-right">
              <li class="page-item"><a class="page-link" href="#">«</a></li>
              <li class="page-item"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>
          </div>
        </div>
        <!-- /.card -->

        
        <!-- /.card -->
    
     

        <ng-template #d let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>HVoulez vous supprimer ce user </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Annuler</button>
              <button type="button" class="btn btn-outline-dark" (click)="deleteuser();c('Save click')">Save</button>
            </div>
          </ng-template>
         

       
          <ng-template #details let-c="close" let-d="dismiss">
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Hi there!</h4>
              <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p> Email :{{userDataEdit.email}} </p> 
              <p> Password : {{userDataEdit.password}} </p>
              <p> Role  : {{userDataEdit.role}} </p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Fermer</button>
            </div>
          </ng-template> 

          <ng-template #editmodal let-c="close" let-d="dismiss">
            <form role="form">
                <div class="card-body">
                  <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input name="email" type="text" 
                    class="form-control" id="exampleInputEmail1" placeholder="Enter email" [(ngModel)]="userDataEdit.email">
                  </div>
                  <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input name="password" type="password"  class="form-control"
                     id="exampleInputPassword1" placeholder="Password" [(ngModel)]="userDataEdit.password" >
                  </div>
               
                 <div class="form-group">
                   <label for=""></label>
                   <select name="role" class="form-control" [(ngModel)]="userDataEdit.role"  >
                    <option> Choisissez Role </option> 
                    <option value="admin">Admin</option>
                     <option value="user">user</option>
                     <option></option>
                   </select>
                 </div>
                 </div>
                <!-- /.card-body -->
        
                <div class="card-footer">
                  <button  type="submit" (click)="update();c('Save click')" class="btn mr-5 btn-success"> Modifier </button>
                  <button  type="submit" (click)="c('Save click')" class="btn btn-danger"> Annuler </button>
                </div>
              </form>
         </ng-template>
  </div>
